In [110]:
#Mise en place de la dataframe Pandas (exécution environ 10s)

import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import requests
import io

json_url = "https://equipements.sports.gouv.fr/api/explore/v2.1/catalog/datasets/data-es/exports/json?lang=fr&timezone=Europe%2FParis&select=equip_nom%2C%20equip_service_date%2C%20equip_douche%2C%20equip_sanit%2C%20equip_travaux_date&where=reg_nom%20like%20%27%C3%8Ele-de-France%27"
req = requests.get(json_url)
json_data = req.json()
df_dirty = pd.DataFrame(json_data)
df_dirty['equip_service_date'] = pd.to_numeric(df_dirty['equip_service_date'], errors='coerce')
df = df_dirty.dropna(subset=['equip_service_date'])

In [111]:
#Test
df.head()

,equip_nom,equip_service_date,equip_douche,equip_sanit,equip_travaux_date
0,SALLE DE MUSCULATION,2015.0,true,true,None
1,2 STUDIOS 1 ETAGE,2011.0,true,true,None
2,SALLE DE MUSCULATION ET CARDIOTRAINING RDC,2015.0,true,true,None
3,TERRAIN DE BASKET-BALL,2014.0,true,true,None
4,SALLE POLYVALENTE,2014.0,true,true,None

In [112]:
borne_min = df['equip_service_date'].min()
borne_max = df['equip_service_date'].max()
# Création des var. d'ancienneté
df.loc['anciennete'] = (df['equip_service_date'] - borne_min)/(borne_max - borne_min)
df.loc[:, 'récent'] = (df['equip_service_date']>=2000).astype(int)
df.loc[:, 'moyen'] = ((df['equip_service_date']>=1980) & (df['equip_service_date']<2000)).astype(int)
df.loc[:, 'ancien'] = ((df['equip_service_date'] >= borne_min) & (df['equip_service_date'] < 1980)).astype(int)

/tmp/ipykernel_1057/1300523898.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc['anciennete'] = (df['equip_service_date'] - borne_min)/(borne_max - borne_min)
/tmp/ipykernel_1057/1300523898.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'récent'] = (df['equip_service_date']>=2000).astype(int)
/tmp/ipykernel_1057/1300523898.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'moyen'] = ((df['equip_service_date']>=1980) & (df['equip_service_date']<2000)).astype(int)
/tmp/ipykernel_1057/1300523898.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'ancien'] = ((df['equip_service_date'] >= borne_min) & (df['equip_service_date'] < 1980)).astype(int)

In [119]:
# Conversion en bool des variables de qualité
df.loc[:, 'equip_douche'] = (df['equip_douche'].astype(bool)).astype(int)
df.loc[:, 'equip_sanit'] = (df['equip_sanit'].astype(bool)).astype(int)

In [120]:
#Test
df.head(10)

,equip_nom,equip_service_date,equip_douche,equip_sanit,equip_travaux_date,récent,moyen,ancien
0,SALLE DE MUSCULATION,2015.0,1,1,None,1,0,0
1,2 STUDIOS 1 ETAGE,2011.0,1,1,None,1,0,0
2,SALLE DE MUSCULATION ET CARDIOTRAINING RDC,2015.0,1,1,None,1,0,0
3,TERRAIN DE BASKET-BALL,2014.0,1,1,None,1,0,0
4,SALLE POLYVALENTE,2014.0,1,1,None,1,0,0
5,SALLE DE CARDIOTRAINING,2012.0,1,1,None,1,0,0
6,SALLE DE FITNESS UCPA,2009.0,1,1,None,1,0,0
7,SKATE PARK,2010.0,1,1,None,1,0,0
9,PARCOURS SPORTIF,2016.0,1,1,None,1,0,0
10,TERRAIN DE FOOTBALL,2014.0,1,1,None,1,0,0

In [126]:
df.loc[:, 'coef_vetuste'] = 0.6 * df['ancien'] + 0.3 * df['moyen'] + 0.2 * (1-df['equip_douche']) + 0.2 * (1-df['equip_sanit'])

In [128]:
#Test
df.head(50)

,equip_nom,equip_service_date,equip_douche,equip_sanit,equip_travaux_date,récent,moyen,ancien,coef_vetuste
0,SALLE DE MUSCULATION,2015.0,1,1,None,1,0,0,0.0
1,2 STUDIOS 1 ETAGE,2011.0,1,1,None,1,0,0,0.0
2,SALLE DE MUSCULATION ET CARDIOTRAINING RDC,2015.0,1,1,None,1,0,0,0.0
3,TERRAIN DE BASKET-BALL,2014.0,1,1,None,1,0,0,0.0
4,SALLE POLYVALENTE,2014.0,1,1,None,1,0,0,0.0
5,SALLE DE CARDIOTRAINING,2012.0,1,1,None,1,0,0,0.0
6,SALLE DE FITNESS UCPA,2009.0,1,1,None,1,0,0,0.0
7,SKATE PARK,2010.0,1,1,None,1,0,0,0.0
9,PARCOURS SPORTIF,2016.0,1,1,None,1,0,0,0.0
10,TERRAIN DE FOOTBALL,2014.0,1,1,None,1,0,0,0.0
12,STADE D'ATHLETISME,1960.0,1,1,None,0,0,1,0.6
13,COURT DE TENNIS N°3,1960.0,1,1,None,0,0,1,0.6
14,TERRAIN DE BASKET,1960.0,1,1,None,0,0,1,0.6
20,TERRAIN MULTISPORTS,1989.0,1,1,None,0,1,0,0.3
21,COURT DE TENNIS N°1,1989.0,1,1,None,0,1,0,0.3
22,GYMNASE,1935.0,1,1,None,0,0,1,0.6
24,TERRAIN DE BASKET-BALL,1993.0,1,1,2015,0,1,0,0.3
26,BASSIN D'INITIATION,1967.0,0,1,None,0,0,1,0.8
27,TERRAIN DE BASKET BALL N°1,1968.0,1,1,None,0,0,1,0.6
28,TERRAIN DE FOOTBALL N°2 SYNTHETIQUE,1968.0,1,1,None,0,0,1,0.6
29,TERRAIN DE VOLLEY BALL N°2,1968.0,1,1,None,0,0,1,0.6
33,COURT DE TENNIS EN TERRASSE N°4,2009.0,1,1,None,1,0,0,0.0
34,COURT DE TENNIS SEMI ENTERRE N°2,2009.0,1,1,None,1,0,0,0.0
35,COURT DE TENNIS SEMI ENTERRE N°3,2009.0,1,1,None,1,0,0,0.0
36,CITY STADE,1992.0,1,1,None,0,1,0,0.3
38,TERRAIN MULTISPORTS,1958.0,1,1,None,0,0,1,0.6
39,GYMNASE,1937.0,1,1,None,0,0,1,0.6
40,GYMNASE,1936.0,1,1,None,0,0,1,0.6
41,MINI TERRAIN DE FOOTBALL,2005.0,1,1,None,1,0,0,0.0
42,"TERRAIN ""STADIUM""",1982.0,1,1,None,0,1,0,0.3
43,TERRAIN DE BASKET BALL - COUR LAGNY,1957.0,1,1,None,0,0,1,0.6
44,GYMNASE,2013.0,1,1,None,1,0,0,0.0
45,GYMNASE,1985.0,1,1,2003,0,1,0,0.3
46,TERRAIN MULTISPORTS - COUR,1930.0,1,1,None,0,0,1,0.6
47,SALLE DE DANSE,1973.0,1,1,2020,0,0,1,0.6
48,TERRAIN DE HANDBALL,1973.0,1,1,None,0,0,1,0.6
49,SALLE DU HAUT,2004.0,1,1,None,1,0,0,0.0
50,SALLE N°2,1994.0,1,1,None,0,1,0,0.3
51,SALLE N°1,1991.0,1,1,None,0,1,0,0.3
52,PETITE SALLE,1954.0,1,1,None,0,0,1,0.6
53,PISCINE,1924.0,0,1,2015,0,0,1,0.8
54,ESPACE MUSCULATION,1975.0,1,1,None,0,0,1,0.6
55,DOJO,1992.0,1,1,None,0,1,0,0.3
56,DOJO,1994.0,1,1,None,0,1,0,0.3
59,CITY STADE,1992.0,1,1,None,0,1,0,0.3
71,TERRAIN DE FOOTBALL N°12 STABILISE,1967.0,1,1,None,0,0,1,0.6
75,TERRAIN DE FOOTBALL EN BETON,1976.0,1,1,None,0,0,1,0.6
76,TERRAINS DE BASKET-BALL,1945.0,1,1,None,0,0,1,0.6
77,CARRIERE HIPPIQUE,2015.0,1,1,None,1,0,0,0.0
79,MUR DE TENNIS,1919.0,1,1,None,0,0,1,0.6

In [21]:
# equip_nom, equip_service_date, equip_douche, equip_sanit, equip_travaux_date

In [26]:
# Lien json
# https://equipements.sports.gouv.fr/api/explore/v2.1/catalog/datasets/data-es/exports/json?lang=fr&timezone=Europe%2FParis&select=equip_nom%2C%20equip_service_date%2C%20equip_douche%2C%20equip_sanit%2C%20equip_travaux_date&where=reg_nom%20like%20%27%C3%8Ele-de-France%27

# Lien CSV
# https://equipements.sports.gouv.fr/api/explore/v2.1/catalog/datasets/data-es/exports/csv?lang=fr&timezone=Europe%2FParis&use_labels=true&delimiter=%3B&select=equip_nom%2C%20equip_service_date%2C%20equip_douche%2C%20equip_sanit%2C%20equip_travaux_date&where=reg_nom%20like%20%27%C3%8Ele-de-France%27